.cursor{
    position: fixed;
    width: 200px;
    mix-blend-mode: difference;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
    ::before, ::after{
        display: block;
        content: "";
        width: 200px;
        border-radius: 50%; 

        mix-blend-mode: difference;
        background-color: white;
    }
}